.container {
  max-width: 100%;
}

.card {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
  background-color: #e9ecef;
  border-bottom: 1px solid #dee2e6;
}

.card-body {
  padding: 0.5rem;
}

.forecast {
  font-size: 200%;
}

.forecast_image {
  width: 200px;
}

.chance_of_rain {
  font-size: 70%;
}

.nowarp {
  white-space: nowrap;
}

.weather_description {
  font-size: 130%;
}

.dht-info {
  font-size: 190%;
}
