<!doctype html>
<html lang="ja">

<head>
    <title>{{ date }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="main.js"></script>
</head>

<body>
    <h1>現在の部屋の温度</h1>
    <p>温度: {{ dht_data.temp }} °C</p>
    <p>湿度: {{ dht_data.hum }} %</p>
    <p>最新取得日時: {{ dht_data.created_at }}</p>
    <h1>天気予報</h1>
    <p>日付: {{ weather_data.forecasts[0].date }}</p>
    <p>日付ラベル: {{ weather_data.forecasts[0].dateLabel }}</p>
    <p>天気: {{ weather_data.forecasts[0].telop }}</p>
    <p>最高気温: {{ weather_data.forecasts[0].temperature.max.celsius }} °C</p>
    <img src="{{ weather_data.forecasts[0].image.url }}" alt="{{ weather_data.forecasts[0].image.title }}">
</body>

</html>